.books{
  display: flex;
  flex-direction: row;
  margin:15px;
  margin-right: 10px; }
.card {
  width: 300px; 
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #2bf167;
   
}


.card h4 {
  font-size: 16px; 
  color: #333; 
  line-height: 1.5;
  margin: 0; 
}


.card:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease-in-out; 
}
